<div class="container">
    <h2>Quel Pokémon es-tu ?</h2>
    <form id="pokemonForm" (submit)="onSubmit($event)">
        <label for="pokemonName">Votre prénom: </label>
        <input type="text" id="userName" name="userName" required (keyup)="onKeyUp($event)">
        <button type="submit">Rechercher</button>
    </form>
    <div id="pokemon">
        <h3 *ngIf="pokemon_name !== undefined">Vous êtes un {{ pokemon_name }}</h3>
        <p *ngIf="pokemon_img_url === undefined">Veuillez entrer votre prénom pour commencer la recherche.</p>
        <img *ngIf="pokemon_img_url !== undefined" [src]="pokemon_img_url" alt="pokemon-image">
    </div>
</div>
